form{
    margin-top:20px;
    margin-left:20px;
    padding: 20px;
    border: 1px solid rgb(60, 165, 227);
    background-color:rgba(194, 204, 204, 0.8);
}

button{
    background-color:rgb(60, 165, 227);
    border: rgb(60, 165, 227) 1px solid;
}

input{
    border: rgb(60, 165, 227) 1px solid;
}

label{
    color:darkslategray;
}