<form class="col-4">
  <div class="form-group">
    <label for="first-name">First Name</label>
    <input type="text" class="form-control" id="first-name" placeholder="First Name" #name>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" placeholder="Email" #email>
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" id="phone" placeholder="Phone" #phone>
  </div>
  <button (click)="addContact(name,email,phone)" type="button" class="btn btn-primary">Add Contact</button>
</form>

