<div>
<form class="col-4" #myForm="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input [(ngModel)]="recipeModel.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="instructions">Instructions</label>
    <input [(ngModel)]="recipeModel.instructions" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Instructions">
  </div>
  <button (click)="addRecipe()" type="button" class="btn btn-primary">Add Recipe</button>
</form>
</div>

